<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table生成支持ie7.8,支持cmd amd commonjs</title>
    <style>
        table {
            width: auto;
            border-collapse: collapse;
        }
        td {
            border: solid 1px #ccc;
            width: 80px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
<body>
    <div id="coltable"></div>
    <div id="rowtable" style="margin-top:20px;"></div>
</div>
<script type="text/javascript" charset="utf-8" src="table.js"></script>
<script type="text/javascript" charset="utf-8" src="underscore.js"></script>
<script>
//以列生成
    var colcellLists = [
        cell(["1", "2", "3", "4", "5"].concat([{
            html: "加赛"
        }]), [{
            html: '局',
            rowSpan: 3
        }]),
        cell([1, 2, 3, 4, 5].concat([{
            html: 10,
            colSpan: 4
        }]), [{
            html: "flyku",
            colSpan: 5
        }].concat([{
            html: "环数",
            colSpan: 4
        }]).concat([{
            html: "第一箭"
        }])),

        cell([1, 2, 3, 4, 5], [{
            html: '第二箭'
        }]),
        cell([1, 2, 3, 4, 5], [{
            html: '第三箭'
        }]),
        cell([1, 2, 3, 4, 5], [{
            html: '总计'
        }]),
        cell([1, 2, 3, 4, 5].concat([{
            html: "加赛"
        }]), [{
            html: '得分',
            rowSpan: 2
        }]),

        cell([1, 2, 3, 4, 5].concat([{
            html: 222
        }]), [{
            html: '比分',
            rowSpan: 3
        }]),

        cell([1, 2, 3, 4, 5].concat([{
            html: 1
        }]), [{
            html: "flyku",
            colSpan: 5
        }].concat([{
            html: "得分",
            rowSpan: 2
        }])),
        cell([1, 2, 3, 4, 5].concat([{
            html: 10,
            colSpan: 4
        }]), [{
            html: '环数',
            colSpan: 4
        }].concat([{
            html: "第一箭"
        }])),
        cell([1, 2, 3, 4, 5], [{
            html: '第二箭'
        }]),
        cell([1, 2, 3, 4, 5], [{
            html: '第三箭'
        }]),
        cell([1, 2, 3, 4, 5], [{
            html: '总计'
        }])
    ];
    var coldata = table(colcellLists,false);
    var colstr = '<table padding="0" cellspacing="0" border="0"><thead></thead><tbody><% for(var i=0;i<coldata.rows.length;i++){%><tr><% for(var j=0;j<coldata.rows[i].length;j++){%><td rowspan="<%= coldata.rows[i][j].rowSpan || 1 %>" colspan="<%= coldata.rows[i][j].colSpan || 1 %>" data-id="<%= coldata.rows[i][j].uniqId %>"><%= coldata.rows[i][j].html %></td><% }; %></tr><% }; %></tbody></table>';
    var coltemplate = _.template(colstr);
    document.getElementById("coltable").innerHTML = coltemplate(coldata);
//以行生成
    var rowcellLists = [
        cell([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [{
            html: '第一箭'
        }]),
        cell([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [{
            html: '第二箭'
        }]),
        cell([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [{
            html: '第三箭'
        }]),
        cell([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [{
            html: '总计'
        }]),
        cell([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [{
            html: '得分',
            rowSpan: 1
        }])
    ];
    var rowdata = table(rowcellLists,true);
    var rowstr = '<table padding="0" cellspacing="0" border="0"><thead></thead><tbody><% for(var i=0;i<rowdata.rows.length;i++){%><tr><% for(var j=0;j<rowdata.rows[i].length;j++){%><td rowspan="<%= rowdata.rows[i][j].rowSpan || 1 %>" colspan="<%= rowdata.rows[i][j].colSpan || 1 %>" data-id="<%= rowdata.rows[i][j].uniqId %>"><%= rowdata.rows[i][j].html %></td><% }; %></tr><% }; %></tbody></table>';
    var rowtemplate = _.template(rowstr);
    document.getElementById("rowtable").innerHTML = rowtemplate(rowdata);

</script>
</body>
</html>